@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap');

.flextime {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.aboutmyndir {
    width: 475px;
    height: 300px;    
    margin-left: min(5px);
}


@media(min-width:768px) {
    .flextime {
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: min(20px);
    }
}
