@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap');

.flextime {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.aboutmyndir {
    width: 475px;
    height: 300px;    
    margin-left: min(5px);
    cursor: pointer;
}

.aboutmyndir:hover {
    opacity: 0.7;
}

@media(min-width:568px) {
    .flextime {
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: min(20px);
    }
}

@media(min-width: 300px) and (max-width: 475px) {
    .abouttekstur {
        padding-left: 50px;
    }
}

@media(min-width: 2500px) and (max-width: 6000px) {
    .aboutmyndir {
        width: 775px;
        height: 600px;
        margin-left: max(30px);
    }
    .abouttekstur {
        padding-left: 26px;
        font-size: 18px;        
    }
}

.abouttekstur {
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-left: min(5px);
    width: 475px;
    height: auto;
    font-family: Times;
}

.needhelpp {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-family: arial;
}
